/*Class Selector Version*/

.container .text {
    background-color: yellow;
    color: red;
    font-size: 20px;
    text-align: center;
}

/* 
Type Selector Version

div p{
    background-color: yellow;
    color: red;
    font-size: 20px;
    text-align: center;
    
}
*/